<!DOCTYPE html>
<html lang="fr">
<head>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
</head>
<body class="mdc-typography">
<div class="form-header">
    <h1 class="mdc-typography--headline3">Envoyer un message</h1>
</div>
<% if (Object.keys(errors).length > 0 ) { %>
    <span class="mdc-theme--error">Ce formulaire possède des erreurs</span>
<% } %>

<form method="post" action="/contact" novalidate>
    <div class="mdc-text-field mdc-text-field--fullwidth <%= errors.message ? ' mdc-text-field--invalid' : '' %> ">
        <input class="mdc-text-field__input"
               aria-controls="message-helper-text"
               aria-describedby="message-helper-text"
               type="text"
               id="message"
               name="message"
               value="<%= data.message %>"
        />
        <label class="mdc-floating-label" for="message">Message</label>
        <div class="mdc-line-ripple"></div>
    </div>

    <% if (errors.message) { %>
        <div class="mdc-text-field-helper-line">
            <div id="message-helper-text"
                 class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg"><%= errors.message.msg %></div>
        </div>
    <% } %>

    <div class="mdc-text-field mdc-text-field--fullwidth  <%= errors.email ? ' mdc-text-field--invalid' : '' %> ">
        <input class="mdc-text-field__input"
               aria-controls="email-helper-text"
               aria-describedby="email-helper-text"
               id="email"
               name="email"
               type="email"
               value="<%= data.email %>"
        />
        <label class="mdc-floating-label" for="email">Email</label>
        <div class="mdc-line-ripple"></div>
    </div>
    <% if (errors.email) { %>
        <div class="mdc-text-field-helper-line">
            <div id="email-helper-text"
                 class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg"><%= errors.email.msg %></div>
        </div>
    <% } %>
    <button type="submit" class="mdc-button"><span class="mdc-button__ripple"></span>Envoyer</button>
</form>
<script type="text/javascript">
    const textsFields = [].map.call(document.querySelectorAll('.mdc-text-field'), function (el) {
        return new mdc.textField.MDCTextField(el);
    });

    const helperTextsFields = [].map.call(document.querySelectorAll('.mdc-text-field-helper-text'), function (el) {
        return new mdc.textField.MDCTextFieldHelperText(el);
    });
</script>

</body>
</html>

